version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: nixacad
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nixacad
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nixacad"]
      interval: 10s
      retries: 5

volumes:
  db-data:
